.main-component {
    min-height: 550px;
    height: auto;
    background-color: whitesmoke;
}
.main-content {
    flex-flow: column;
}
.main-content-title {
    font-size: 20px;
    font-weight: 700;
}
.main-button-box {
    margin-top: 50px;
}
.main-choice-button{
    background-color: white;
    height: 100px;
    width: 300px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 17px;
}
